<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .item{
        display: inline-block;
        border: 3px solid white;
        border-radius: 5px;
        padding: 10px;
        background-color: white;
        color: black;
        margin: 25px;
        margin-left: 32px;
        margin-right: 32px;
      }
      img{
        width: 300px;
        height: 300px;
      }
      body{
        background-image: url('images/bg.jpg');
      }
      .bg-dark{
        background-color: transparent !important;
      }
      label{
        color: white;
      }
      h2{
        text-align: center;
        color: white;
      }
      .container{
        height: 500px;
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ELectripliance</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin Panel</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/mobile">Mobile Phones</a></li>
                  <li><a class="dropdown-item" href="/laptop">Laptops</a></li>
                  <li><a class="dropdown-item" href="/fan">Fans</a></li>
                  <li><a class="dropdown-item" href="/tv">TVs</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/other">Other</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <% if (top === 'Login/Register') { %>
                  <a class="nav-link" href="/login">Login/Register</a>
                <%} else { %>
                  <a class="nav-link" href="/logout">Logout</a>
                <%} %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><%= name %></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
	<h2>TVs</h2>
	<div>
    <div class="item">
      <div>
        <img src="https://m.media-amazon.com/images/I/71sFjIGl9UL._SX679_.jpg">
        <div>
          <h5>AmazonBasics</h5>
          <p>139 cm (55 inches) 4K Ultra HD </p>
          <p>Rs. 37,999 /-</p>
          <form action="/purchase" method="post">
          <input type="hidden" name="product_id" id="id" value="4111">
          <input type="hidden" name="product_name" id="name" value="AmazonBasics">
          <input type="hidden" name="product_price" id="price" value="37999">
          <input type="submit" value="Buy">
          </form>
        </div>
      </div>
    </div>
    <div class="item">
      <div>
        <img src="https://m.media-amazon.com/images/I/61gf2u913jL._SX679_.jpg">
        <div>
          <h5>Westinghouse 80 cm</h5>
          <p>HD Ready Smart Certified Android LED TV</p>
          <p>Rs. 10,999 /-</p>
          <form action="/purchase" method="post">
          <input type="hidden" name="product_id" id="id" value="5222">
          <input type="hidden" name="product_name" id="name" value="Westinghouse 80 cm">
          <input type="hidden" name="product_price" id="price" value="10999">
          <input type="submit" value="Buy">
          </form>
        </div>
      </div>
    </div>
    <div class="item">
      <div>
        <img src="https://m.media-amazon.com/images/I/71HcZHyEsTL._SX679_.jpg">
        <div>
          <h5>Redmi 80 cm (32 inches)</h5>
          <p>HD Ready Smart LED TV</p>
          <p>Rs. 15,999 /-</p>
          <form action="/purchase" method="post">
          <input type="hidden" name="product_id" id="id" value="4333">
          <input type="hidden" name="product_name" id="name" value="Redmi 80 cm (32 inches)">
          <input type="hidden" name="product_price" id="price" value="15999">
          <input type="submit" value="Buy">
          </form>
        </div>
      </div>
    </div>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
